@media only screen and (max-width: 994px) {

    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;

    }
 html.body {
    
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
 }
 html{
    font-size: 10px;
 }

    .navbar {
        width: 100%;
        display: block;
        margin-bottom: 3rem;
        min-height: 2rem;
        padding-top: 0.7rem;
        font-size: 1.5rem!important;
                background-color: #000;
        overflow-y: hidden;
        position: fixed;

    }

    .navbar p {
        color: white;
        float: left;
    }

    .navbar i {
        float: right;

    }

    /* Left-container */
   
    .left-container {
        display: none;
        z-index: 4;
        position: fixed;
        width: 20%;
        padding-left: 2rem;
        padding-top: 2rem;
        background-color: #f1f1f1;
        white-space: nowrap;
        overflow-y: scroll;
    }
   

    h6 {
        margin-bottom: 3rem;
        margin-top: 2.5rem;
        font-size: 1.7rem;
    }

    .left-container p {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        color: #000 !important;
    }

    .left-container input {
        width: 90%;
        height: 4rem;
        border: 0.1rem solid #ccc !important;
        padding-left: 1rem;
    }

    label {
        display: block;
        margin-bottom: 1rem;
    }

    .left-container form .btn {
        margin-top: 1rem;
    }

    .links {
        margin-top: 2rem;
    }

    .links a {
        margin-bottom: 3rem;
        display: block;
        color: black;

    }


    .right-container {
        width: 100%;
        display: block;
        padding-left:1rem;
        z-index: -2;

        border-right: 0.1rem solid grey;
        border-top: 0.05rem solid grey;
        position: absolute;
        margin-top: 5rem;

    }

    .right-container h1 {
        color: #4CAF50;
        font-size: 3rem;
    }

    #apartment {
        width: 100%;
        height: 50rem;
        background-color: black;
    }

    .row {
        margin-left: 0;
        display: flex;
    }

    .col1 {
        width: 49%;
    }

    .col2 {
        width: 49%;
    }

    .right-container p {
        font-size: 2.3rem !important;
        margin-bottom: 2rem;
    }

    .right-container h2 {
        margin-top: 3rem;
        margin-bottom: 3rem;
        font-size: 2rem;
    }

    hr {
        border: 0;
        border-top: 0.1rem solid #eee;
        margin: 2rem 0;
    }

    .btn {
        background-color: #4CAF50;
        padding: 0;
        text-align: center;
        color: #fff !important;
        height: 3rem;
        width: 20rem;
        font-size: 1.5rem;
    } 

    /* Contact */
    #contact {
        margin-top: 4rem;
    }

    h5 {
        font-size: 3.5rem;
    }

    .right-container input {
        margin-bottom: 1.5rem;
        width: 100%;
        height: 4rem;
    }
} 